
* {
 font-size: 11px;
 margin:0px;
 padding: 0px;

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
::-webkit-scrollbar{
   display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*max for mobile       min for Desktop*/


.mobile_show{
   
  @media(max-width:750px){
   
    
  }


}


.mobile_show{
   
  @media(min-width:750px){
    
    display: none;
  }


}

@media (max-width: 768px) {
  .mobile_bigger_button {
      
     padding:13px 0px 13px 0px

  }
}



@media (max-width: 768px) {
  .mobile_top_down_space {
      
    margin:15px 0px 15px 0px;

  }
}




@media (max-width: 768px) {
  .mobile_width_max {
      width: 100%;

  }
}
@media (min-width: 768px) {
  .mobile_width_max {
      width: 70%;

  }
}


.bg-color{
   background-color: blue;
}
.full_height{
   height: 100%;
}
.full_width {
   width:100%;
}

.full_view {
   height: 100%;
   width: 100%;
}





/* for mobile view shift down */

.mobile_view_up {
   
  @media(max-width:800px) {

     margin-top: 20px;
    
  }

}

.mobile_view_up {
   
  @media(min-width:800px) {

     margin-top: 0px;
    
  }

}
/* ---------------------- */



.mobile_right {
   
  @media(max-width:800px) {

     text-align: right;
    
  }

}

.mobile_right{
   
  @media(min-width:800px) {

     text-align: start;
    
  }

}

.header_font{
    
    font-weight: 1000;
    font-family: "Plus Jakarta Sans", sans-serif;
    opacity: 1.5;
}

.desc_font{
  
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 200;
}



/* for mobile view  flex right */


.mobile_flex{
   
  @media(min-width:800px) {

   
    
  }

}


.mobile_flex{
   
  @media(max-width:800px) {

    display:flex;
    
  }

}




/* --------------- */


/* for mobile view with 100% */
.mobile_view_full{
   /*for mobile*/
  @media(max-width:800px) {

    width:100%
    
  }

}

.mobile_view_full{
   
  @media(min-width:800px) {

    width:auto
    
  }

}


.mobile_height {
   
  @media (max-width:750px) {

      height: 70vh;

  }

}


/* desktop */
.mobile_height {
   
  @media (min-width:750px) {

     height: 150vh;

  }

}






.button_view_change{
     
  @media(max-width:800px){
     height: 35px;
  }

}
.button_view_change{
     
  @media(min-width:800px){
     height: 30px;
  }

}

.horizontal {

   @media(max-width:750px){
      
    display: flex;
     
   }


}

.margin_bottom{
   
   
  @media (max-width:750px) {
     margin-bottom: 30vh;
  }
   
   
   

}
.margin_bottom{
   
   
  @media (min-width:750px) {
     margin-bottom: 150vh;
  }
   
   
   

}